.login {
	-fx-background-color: linear-gradient(to top, rgb(187, 210, 197), rgb(83, 105, 118));
}

.login-titulo {
	-fx-font-size: 24px;
	-fx-text-fill: #fff;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
}

.login-form-botao {
	-fx-font-size: 16px;
}